<section hide-gt-sm>
  <call workflow-id="{{ vm.$routeParams.workflowId }}"
    id="{{ vm.$routeParams.callId }}"></call>
</section>
<section hide-sm
  layout="row">
  <md-card flex-gt-sm="35">
    <workflow ng-if="!!vm.$routeParams.workflowId"
              id="{{ vm.$routeParams.workflowId }}"></workflow>
    <call-overview ng-if="!vm.$routeParams.workflowId"></call-overview>
  </md-card>
  <md-card flex-gt-sm="60">
    <call workflow-id="{{ vm.$routeParams.workflowId }}"
      id="{{ vm.$routeParams.callId }}"></call>
  </md-card>
</section>
